<%- include('partials/header') %>
<div id="s63">





    <h1>Thank You</h1>
    <p><span style="font-size: 10pt;">Thank you for registering. And more importantly, thank you for being part of the World Relief community. With your help, we’re partnering with over 6,000 churches and 95,000 local volunteers to tackle the world’s greatest problems.</span></p>
    <p><span style="font-size: 10pt;">Please check your email for your username and password to access your World Relief profile.</span></p>
    <p><span style="font-size: 10pt;"><br></span><span style="font-size: 10pt;">Together,&nbsp;<br></span><span style="font-size: 10pt;">World Relief</span></p>
    <p>&nbsp;</p>
    </div>
    <%- include('partials/footer') %>