<%- include('partials/header') %>
    <section class="bt_bb_section gutter bt_bb_vertical_align_top btPageHeadline bt_bb_background_image bt_bb_background_overlay_light_solid bt_bb_parallax btLightSkin " style="background-image:url(wp-content/uploads/sites/4/2019/04/blog-post-06.jpg)" data-parallax="0.8" data-parallax-offset="-300">
        <div class="bt_bb_port port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div class="bt_bb_row">
                        <div class="bt_bb_column">
                            <div class="bt_bb_column_content">
                                <header class="bt_bb_headline bt_bb_dash_top bt_bb_size_large bt_bb_superheadline bt_bb_superheadline_outside bt_bb_subheadline" data-bt-override-class="{}">
                                    <div class="bt_bb_headline_superheadline_outside">
                                        <span class="bt_bb_headline_superheadline">
                                            <span class="btBreadCrumbs">
                                                <span><a href="/">Home</a></span>
                                        </span>
                                        </span>
                                    </div>
                                    <h1 class="bt_bb_headline_tag">
                                        <span class="bt_bb_headline_content">
                                            <span>FORGOT PASSWORD</span>
                                        </span>
                                    </h1>
                                </header>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    <div class="btContentHolder">
        <div class="btContent">
            <div class="bt_bb_wrapper">
                <section id="bt_bb_section612e783005e6d" data-background_image_src="'http://avantage.bold-themes.com/hr/wp-content/uploads/sites/5/2019/04/bgn-newsletter.jpg'" class="bt_bb_section bt_bb_top_spacing_normal bt_bb_layout_boxed_1200 bt_bb_vertical_align_top btLazyLoadBackground bt_bb_background_image bt_bb_section_allow_content_outside bt_bb_section_with_bottom_coverage_image"
                    style="background-image: url(https://safeedgetrade.com/http_/avantage.bold-themes.com/hr/wp-content/plugins/bold-page-builder/img/blank.html); background-position: right bottom; background-size: contain;">
                    <div class="bt_bb_port">
                        <div class="bt_bb_cell">
                            <div class="bt_bb_cell_inner">
                                <div class="bt_bb_row_wrapper">
                                    <div class="bt_bb_row">
                                        <div class="bt_bb_column col-md-12 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal" data-width="12">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_separator bt_bb_bottom_spacing_extra_large bt_bb_border_style_none bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm"></div>
                                                <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none bt_bb_hidden_md bt_bb_hidden_lg"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt_bb_row_wrapper">
                                    <div class="bt_bb_row">
                                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_left bt_bb_vertical_align_bottom bt_bb_animation_fade_in zoom_out animate bt_bb_padding_normal bt_bb_animation_fade_in bt_bb_animation_zoom_out animate" data-width="6">
                                            <div class="bt_bb_column_content">
                                                <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_large bt_bb_superheadline bt_bb_superheadline_outside bt_bb_subheadline bt_bb_align_inherit bt_bb_hidden_ms bt_bb_hidden_sm bt_bb_hidden_md bt_bb_hidden_lg" data-bt-override-class="{}">
                                                    <div class="bt_bb_headline_superheadline_outside"><span class="bt_bb_headline_superheadline">FORGOT PASSWORD</span></div>
                                                    <h2 class="bt_bb_headline_tag"><span class="bt_bb_headline_content"><span><b>Recover </b> <u>Password</u></span></span>
                                                    </h2>
                                                    <div class="bt_bb_headline_subheadline">Enter your email address to recover your Safe Edge Trade login details.</div>
                                                </header>
                                                <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_large bt_bb_superheadline bt_bb_superheadline_outside bt_bb_subheadline bt_bb_align_inherit bt_bb_hidden_xs" data-bt-override-class="{}">
                                                    <div class="bt_bb_headline_superheadline_outside"><span class="bt_bb_headline_superheadline">FORGOT PASSWORD</span></div>
                                                    <h2 class="bt_bb_headline_tag"><span class="bt_bb_headline_content"><span><b>Recover </b><br />
                                                        <u>Password</u></span></span>
                                                    </h2>
                                                    <div class="bt_bb_headline_subheadline">Enter your email address to recover your Safe Edge Trade login details.</div>
                                                </header>
                                                <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                <div class="bt_bb_text">
                                                    <div role="form" class="wpcf7" id="wpcf7-f5-p55-o1" lang="en-US" dir="ltr">
                                                        <% if(error && error.length > 0) { %>
                                                            <div class="alert warning-alert">
                                                                <span><%= error %></span>
                                                                <a class="close">&times;</a>
                                                              </div>
                                                        <% } %>
                                                        <% if(success && success.length > 0) { %>
                                                            <div class="alert success-alert">
                                                                <span><%= success %></span>
                                                                <a class="close">&times;</a>
                                                              </div>
                                                        <% } %>
                                                        <form method="post" action="/account/forgot_password" id="Form1" class="wpcf7-form init">
                                                            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="9tUfp14BeRhmaWge6MwjtqXLJuZ3hggAwq//Z0uFLx+mF4/3N8P7GPj1junHObp29gXkxjm1HvwJ2BSV/6/RTZYKPN38U41eKoEBnfKyz7o=" />
                                                            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="AA11CAEF" />
                                                            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="HPkbAJJ3rD6mrFvtT7xobSQR5iisXIJkscxKTyWVMTeeAXv5OeqyZIDKc2WaKTfCFrzaRCzbbz2+mypzipQfiTU88pMR35E2y89CgWOKQJL5tCxE5lik3Ey632+a7m3RNu5zh/q9tdS5aa0SeoBatg==" />
                                                            <p>
                                                                <span id="Labelerror"><font color="Red"></font></span>
                                                            </p>
                                                            <p>
                                                                <label style="font-weight:bold">
Your Email (required)<br />
<span class="wpcf7-form-control-wrap your-email">
<input name="email" type="email" id="email" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" required="required" placeholder="Email Address" />
</label>
                                                            </p>
                                                            <p>
                                                                <input type="submit" name="Buttonreset" value="RESET PASSWORD" id="Buttonreset" class="wpcf7-form-control wpcf7-submit" />
                                                            </p>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal" data-width="6">
                                            <div class="bt_bb_column_content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>