<%- include ("partials/header") %>

  <div id="s63">







    <div class="appArea">
      <% if(error && error.length > 0) { %>
        <p class="ErrorMessage">
          <%= error %>
        </p>
    <% } %>
    <% if(success && success.length > 0) { %>
      <p class="SuccessMessage">
        <%= success %>
      </p>
    <% } %>

      <p class="Hint">All fields are required</p>
      <form name="ChangePassword" method="POST" action="/dashboard/change-password">
        <input type="hidden" name="CSRFToken" value="496CAD8F75B60B1A76466A45478A9215">
        <table cellspacing="6" cellpadding="0" border="0">

          <tbody>
            <tr valign="top">
              <td nowrap="nowrap">
                <p><label for="oldPass">Current Password:</label></p>
              </td>
              <td>

                <input required type="password" name="old-password" id="oldPass" size="20" maxlength="90">

              </td>
              <td>

                <p class="Hint">12 to 99 characters</p>

              </td>
            </tr>

            <tr valign="top">
              <td nowrap="nowrap">
                <p><label for="user_password">New Password:</label></p>
              </td>
              <td>

                <input required type="password" name="new-password" id="user_password" value="" size="20" maxlength="90">

              </td>
              <td>

                <p class="Hint">12 to 99 characters</p>

              </td>
            </tr>
            <tr valign="top">
              <td nowrap="nowrap">
                <p>

                  <label for="rePass">Confirm Password:</label>

                </p>
              </td>
              <td>
                <input required type="password" name="rePass" id="rePass" value="" size="20" maxlength="90">
              </td>
              <td>
                <p>&nbsp;</p>
              </td>
            </tr>
            <tr valign="top">
              <td nowrap="nowrap">
                <p><label for="reminder_hint">Reminder Hint:</label></p>
              </td>
              <td>

                <input type="text" name="passwordHint" id="reminder_hint" value="" size="20" maxlength="90">

              </td>
              <td>

                <p class="Hint">Type a phrase to help you remember your Password. For example, if your Password is
                  "KerbyLane7" use "Favorite Restaurant and Favorite Number" as your Reminder Hint.</p>

              </td>
            </tr>
          </tbody>
        </table>
        <p><input type="submit" name="op.chgConsPasswd" id="op.chgConsPasswd" value="Save" title="Save"
            class="Button">&nbsp;&nbsp;
          <input type="button" name="op.chgPasswdCancel" id="op.chgPasswdCancel" value="Cancel" title="Cancel"
            class="Button" onclick="window.location.href = '/dashboard/profile'">
        </p>


      </form>
    </div>
  </div>

  <%- include ("partials/footer") %>