<%- include('../partials/header") %>
  <style>
    div#editor {
      margin: auto;
      text-align: left;
    }

    .ss {
      background-color: red;
    }
  </style>

<!-- Header -->
    <div class="header bg-default pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">New wallet</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home text-default"></i></a></li>
                  <li class="breadcrumb-item active" aria-current="page">New wallet</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--6">
      <div class="row justify-content-center">
        <div class=" col-lg-9 ">
          <div class="card">
            <div class="card-body">
                <form method="POST" action="/admin/wallet">
                    <h6 class="heading-small text-muted mb-4">Wallet details</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="tokenName ">Token name (or "perfect money")</label>
                            <input type="text" class="form-control border-input"  id="tokenName" name="tokenName">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="tokenShort">Short name</label>
                            <input type="text" class="form-control border-input" id="tokenShort" name="tokenShort">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="address">Wallet address / Account number</label>
                            <input type="text" class="form-control border-input" id="address" name="address">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="displayName">Display name</label>
                            <input type="text" class="form-control border-input" id="displayName" name="displayName">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="memo">Memo</label>
                            <input type="text" class="form-control border-input" id="memo" name="memo">
                          </div>
                        </div>
                      </div>
                    <button type="submit" class="btn btn-default mt-2">Submit</button>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- Footer -->
        <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
<%- include('../partials/footer") %>